

* { 
    padding: 0; 
    box-sizing: border-box;
}
body {

    font-family: 'Be Vietnam Pro', sans-serif;
}

/*  HEADER */ 

.contenedorHeader{     
    display: flex;
    justify-content: space-around;    
    align-items: center;   
    width: 100%;
    height:140px ;

}


.listaHeader {     
    display: flex;
    justify-content: space-around;
    align-items: center;   
    color: #242E52;
    font-size: 13px;    
    width: 40%;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.listaHeader li:hover { 

    color:rgba(36, 46, 82, 0.6); 

}

.boton {
    color: white; 
    background-color: #8B48BF;
    font-size: 13px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 134px;
    height: 44px;
    border-bottom: none;

}




/* Jugador padel */

.jugadorPadel {     
    display: flex;
    box-sizing: content-box;
    justify-content: space-around;
    align-content: center;
    margin-top: 150px;
    width: 100%;


}

.contenidoPadel { 
    display: flex;    
    width: 35%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin: 25px 10px;
}

.jugadorPadel img { 
    width: 40%;   
}

h1{
    
    width: 500px;
    height: 228px;
    font-size: 50px;
    font-weight: bold;
    text-align: end;
    color:#232C50 ;
    
}



.jugadorPadel p {     
    height: 71px;
    width: 450px;
    font-size: 17px;    
    line-height: 26px;
    text-align: end;
    font-weight: 500;

}

.jugadorPadel button {    
    top: 420px;
    border-style: hidden;




}


/* Salto morado n° 1  */ 

.saltoMorado { 
    display: flex;    
    justify-content: space-around;
    align-items: center;
    margin-top: 180px;    
    background-color: #8B48BF;
    color: #FFFF;    
    height: 168px;
    width: 100%;
    

}

.saltoMorado h2{ 
    font-size: 36px;
    width: 35%;
    font-weight: 550;
    margin-left: 5%;
}

.saltoMorado p{   
    text-align: center;
    font-size: 16px;
    width:30% ;
    top: 20px;
    line-height: 151%;
    font-weight: 200; 

}

/* Listado */ 

.contenedorListado{     
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    top: 1900px; 
    background-color: #FAFAFA;    
    height: 612px;
    padding: 40px, 0px, 40px, 0px;
    width: 100%; 
    
        

}

.cajaLista {    
    display: flex;
    width: 470px;
    margin: 70px 60px ;
    height: 160px;
    flex-wrap: wrap; 

}


.headerCaja {     
    display: flex; 
    width: 90%;

}

.cajaLista p { 
    width: 70%;
    margin-left: 119px;
    color: #B3B2B7;   
    
}

.contenedorListado nav button {
    background-color: #8B48BF;
    color: #FFFFFF;
    font-weight: 500;
    height: 43px;
    width: 70px;
    border-radius: 30px;
    border-style: hidden;
    
}



.contenedorListado nav h3 { 
    color: #323851;
    font-weight: 700;
    margin-left: 47px;
    

}



/* Cards jugadores */ 

.tituloCards { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 56px;
    width: 1440px;
}

.contenedorCards {
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 2800px;      
    height: 500px;    
    width: 1400px; 
    margin: 0;
}

.jugadores { 
    text-align: center;
    background-color: #FAFAFA;
    width: 420px;
    height: 280px;
    
}



.contenedorCards h2 {
    
    font-size: 40px;
    color: #242E53;
    text-align: center;

}

.contenedorCards h3 {
    text-align: center;
    color:#3F4868 ;
    font-weight: 700;
}

.contenedorCards p {
    text-align: center;
    color:#B9B9C1;
    height: 124px;
    line-height: 28px;
}

.contenedorCards button {
    bottom: 50px;
    border-style: hidden;
}

.contenedorCards button:hover { 

    background: rgba(139, 72, 191, 0.7); 

}

/* SALTOMORADO N° 2 */

.saltoMorado2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color:#8B48BF;
    width: 1400px;
    height: 224px;
    width: 100%;
    margin-top: 121px;

}

.saltoMorado2 h2 {        
    font-size: 40px;
    color: #FFFFFF; 
    width: 35%;
    font-weight: 590;

}

.saltoMorado2 button { 
    color:#8B48BF; 
    background-color:#FFFFFF ;
    font-size: 14px;
    border-style: hidden;  
    align-self: center;
}



/* pie de pagina */ 

.contenedorPiepagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;    
    background-color:#1E1E26 ;    
    width: 100%;
    height: 250px;
    
} 

.imagenesFooter {       
    display: flex;    
    flex-wrap: wrap;
    width: 179px;
    justify-content: space-between;
    align-content: space-around;

}

.logo {
    width: 254px;
    height: 25px;
}

.linksFooter {    
    display: flex;
    width: 408px;
    justify-content: space-between;

}

.navegacionFooter {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.redesSociales {
    width: 20px;
    height: 20px;
}


.contenedorPiepagina ul {    
    color: #FFFFFF;
    font-weight: 400;
    line-height: 30px;
}

.contenedorPiepagina input{    
    border-radius: 50px;
    width: 200px;
    height: 44px;
    color: #A0A0A0;

}

.contenedorPiepagina button {    
    border-style: hidden;
    width: 63px;
    height: 42px;
    font-size: 13px;
    
}

.contenedorPiepagina p {
    right: 160px;
    font-size: 12px;
    color:#8C8C94 ;
}
    




