

* { 
    padding: 0; 
    box-sizing: border-box;
}
body {

    font-family: 'Be Vietnam Pro', sans-serif;
}

/*  HEADER */ 

.contenedorHeader{     
    display: flex;
    justify-content: space-around;    
    align-items: center;   
    width: 100%;
    height:140px ;

}


.listaHeader {     
    display: flex;
    justify-content: space-around;
    align-items: center;   
    color: #242E52;
    font-size: 13px;    
    width: 40%;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.listaHeader li:hover { 

    color:rgba(36, 46, 82, 0.6); 

}

.boton {
    color: white; 
    background-color: #8B48BF;
    font-size: 13px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 134px;
    height: 44px;
    border-bottom: none;

}

.menuMobile { 
    display: none;
}


/* Jugador padel */

.jugadorPadel {     
    display: flex;
    box-sizing: content-box;
    justify-content: space-around;
    align-content: center;
    margin-top: 150px;
    width: 100%;


}

.contenidoPadel { 
    display: flex;    
    width: 35%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin: 25px 10px;
}

.jugadorPadel img { 
    width: 40%;   
}

h1{
    
    width: 500px;
    height: 228px;
    font-size: 50px;
    font-weight: bold;
    text-align: end;
    color:#232C50 ;
    
}



.jugadorPadel p {     
    height: 71px;
    width: 450px;
    font-size: 17px;    
    line-height: 26px;
    text-align: end;
    font-weight: 500;

}

.jugadorPadel button {    
    margin-top: 20px;
    border-style: hidden;




}


/* Salto morado n° 1  */ 

.contenedorSaltopag1 { 
    display: flex;    
    justify-content: space-around;
    align-items: center;
    margin-top: 180px;    
    background-color: #8B48BF;
    color: #FFFF;    
    height: 168px;
    width: 100%;
    

}

.contenedorSaltopag1 h2{ 
    font-size: 36px;
    width: 35%;
    font-weight: 550;
    margin-left: 5%;
}

.contenedorSaltopag1 p{   
    text-align: center;
    font-size: 16px;
    width:30% ;
    margin-top: 20px;
    line-height: 151%;
    font-weight: 200; 

}

/* Listado */ 

.contenedorListado{     
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    top: 1900px; 
    background-color: #FAFAFA;    
    height: 612px;
    padding: 40px, 0px, 40px, 0px;
    width: 100%; 
    
        

}

.cajaLista {    
    display: flex;
    width: 470px;
    margin: 70px 60px ;
    height: 160px;
    flex-wrap: wrap; 

}


.headerCaja {     
    display: flex; 
    width: 90%;

}

.cajaLista p { 
    width: 70%;
    margin-left: 119px;
    color: #B3B2B7;   
    
}

.contenedorListado nav button {
    background-color: #8B48BF;
    color: #FFFFFF;
    font-weight: 500;
    height: 43px;
    width: 70px;
    border-radius: 30px;
    border-style: hidden;
    
}



.contenedorListado nav h3 { 
    color: #323851;
    font-weight: 700;
    margin-left: 47px;
    

}



/* Cards jugadores */ 

.tituloCards { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 56px;
    width: 1440px;
}

.contenedorCards {
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 2800px;      
    height: 500px;    
    width: 1400px; 
    margin: 0;
}

.jugadores { 
    text-align: center;
    background-color: #FAFAFA;
    width: 420px;
    height: 280px;
    
}



.contenedorCards h2 {
    
    font-size: 40px;
    color: #242E53;
    text-align: center;

}

.contenedorCards h3 {
    text-align: center;
    color:#3F4868 ;
    font-weight: 700;
}

.contenedorCards p {
    text-align: center;
    color:#B9B9C1;
    height: 124px;
    line-height: 28px;
}

.contenedorCards button {
    bottom: 50px;
    border-style: hidden;
}

.contenedorCards button:hover { 

    background: rgba(139, 72, 191, 0.7); 

}

/* SALTOMORADO N° 2 */

.contenedorSaltopag2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color:#8B48BF;
    width: 1400px;
    height: 224px;
    width: 100%;
    margin-top: 121px;

}

.contenedorSaltopag2 h2 {        
    font-size: 40px;
    color: #FFFFFF; 
    width: 35%;
    font-weight: 590;

}

.contenedorSaltopag2 button { 
    color:#8B48BF; 
    background-color:#FFFFFF ;
    font-size: 14px;
    border-style: hidden;  
    align-self: center;
}



/* pie de pagina */ 

.copyright-mobile {
    display:none;
}

.contenedorPiepagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;    
    background-color:#1E1E26 ;    
    width: 100%;
    height: 250px;
    
} 

.imagenesFooter {       
    display: flex;    
    flex-wrap: wrap;
    width: 179px;
    justify-content: space-between;
    align-content: space-around;

}

.logo {
    width: 254px;
    height: 25px;
}

.linksFooter {    
    display: flex;
    width: 408px;
    justify-content: space-between;

}

.navegacionFooter {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.redesSociales {
    width: 20px;
    height: 20px;
}


.contenedorPiepagina ul {    
    color: #FFFFFF;
    font-weight: 400;
    line-height: 30px;
}

.contenedorPiepagina input{    
    border-radius: 50px;
    width: 200px;
    height: 44px;
    color: #A0A0A0;

}

.contenedorPiepagina button {    
    border-style: hidden;
    width: 63px;
    height: 42px;
    font-size: 13px;
    
}

.contenedorPiepagina p {
    right: 160px;
    font-size: 12px;
    color:#8C8C94 ;
}
    




@media screen and (max-width: 480px) {
    
    /* Header version mobile */

    .listaHeader, header button {
        display: none;
        }    

    .menuMobile {
        display: inline;

    }

    /* Jugador Padel version mobile */

    .jugadorPadel {
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        flex-wrap: wrap;
    }

    .jugadorPadel img {
        border-top: 10px;
        width: 100%;
    }

    .contenidoPadel { 
        width: 400px;
        height: 570px;
        align-items: flex-end;
        
    }

    .contenidoPadel h1 {
        margin-top: 114px;
        width: 480px;
        height: 200px;
    }

    .contenidoPadel p {
        width: 430px;
    }
   
    /* Salto de pagina version mobile */

    .contenedorSaltopag1 {
        background-color: #3CDDF3;
        flex-direction: column;
        justify-content: space-between;        
        height: 340px;
        width: 480px;
        padding: 34px;
        margin-left: -9.5px;
    }

    .contenedorSaltopag1 h2 {         
        width: 440px;             
    }
   
    .contenedorSaltopag1 p {         
        width: 470px;
            
    }

    /* Listado version mobile */

    .contenedorListado {
        background-color: #FFFFFF;
        height: 913px;        
    }

    .contenedorListado nav h3 {
        margin-left: -17px;
        width: 470px;
        background-color: rgba(139, 72, 191, 0.3);
        height: 41px;
        text-align: start;   
        padding-top: 8px;     
        padding-inline-start: 25px;
    }

    .cajaLista p {
        margin-left: 55px;
        width: 400px;
        line-height: 26px;
    }

    .headerCaja {
        margin-left: 47px;
    }

    .contenedorListado nav button {
        width: 90px;
        margin-top: 18px;
    }

    /* Cards version mobile */

.tituloCards {
    width: 480px;
}

.card-no-mobile {
    display: none;
}

.contenedorCards {
    width: 480px;
}

.contenedorCards p {
    width: 470px;
    margin-left: -40px;
}

.jugadores {
    margin-left: -8px;
}

/* Salto de pagina n2 version mobile */

.contenedorSaltopag2{
    background-color: #3CDDF3;    
    justify-content: center;   
    align-items: center;     
    height: 360px;
    width: 480px;
    padding: 34px;
    margin-left: -9.5px;
    flex-wrap: wrap;
}

.contenedorSaltopag2 h2 {
    width: 350px;
    width: 284px;    
    text-align: center;
    height: 206px;
}

.contenedorSaltopag2 button {
    background-color: #232C50;
    color: #FFFFFF;
}

/* Pie de página version mobile */

.contenedorPiepagina {
    width: 480px;
    height: 360px;
    margin-left: -9px;
}
.linksFooter {
    width: 408px;
    width: 316px;
}

.imagenesFooter {
    order: 1;
    width: 320px;
    flex-flow: wrap-reverse;
    height: 85px;
}

.navegacionFooter {
    order: -1;
}

.logo {
    width: 410px;
}

footer .copyright-desktop {
    display: none;
}

.copyright-mobile { 
    display: inline;
    text-align: center;
    margin-bottom: 2px;
    order:2;
}



}

